.opportunity {
  background-color: var(--gray);
}

.opportunity__container {
  min-height: 630px;
  height: 100%;
}

.opportunity__title {
  margin-bottom: 6.9rem;
}

.opportunity__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.opportunity__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: .3s ease transform;
}

.opportunity__item:hover {
  transform: scale(1.1);
}

.opportunity__text {
  font-family: Lato, sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 132%;
}